    body,html{
      height: 100%;
      margin: 0;
      background: transparent;
    }
    body {
      background: #347fc3!important;
/*          background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
          background: linear-gradient(to right, #55cff9,#1377f5, #1377f5); */
            border-radius: 15px !important;
        -webkit-font-smoothing: auto!important;
    }
    
    .chat{
      margin-top: auto;
      margin-bottom: auto;
      padding: 0px 5px!important;
    }
    .card{
      height: 100vh;
      border-radius: 15px !important;
      background-color: #2f8df7 !important;
    }
    .contacts_body{
      padding:  0.75rem 0 !important;
      overflow-y: auto;
      white-space: nowrap;
      background-color: #003f779c;
    }
    .card-header{
      background-color: rgba(0,0,0,.03);
      border-radius: 15px 15px 0 0 !important;
      border-bottom: 0 !important;
    }
    .card-footer{
        background-color: rgba(0,0,0,.03);
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }
    .container{
      align-content: center;
    }
    .search{
      border-radius: 15px 0 0 15px !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
    }
    .search:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .type_msg{
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color:white !important;
      height: 60px !important;
      overflow-y: auto;
    }
      .type_msg:focus{
         box-shadow:none !important;
           outline:0px !important;
    }
    .attach_btn{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .send_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .search_btn{
      border-radius: 0 15px 15px 0 !important;
      background-color: rgba(0,0,0,0.3) !important;
      border:0 !important;
      color: white !important;
      cursor: pointer;
    }
    .menu_btn {
        background-color: transparent;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }
    .contacts{
      list-style: none;
      padding: 0;
      max-width: 348px;
    }
    .contacts li{
      width: 100% !important;
      padding: 5px 10px;
      margin-bottom: 3px !important;
      cursor: pointer;
      border-left: 5px solid #0000;
    }
    .contacts li.router-link-exact-active{
      border-left: 5px solid #1d3752;
      background-color: rgba(0,0,0,0.3);
    }
    .user_img{
      height: 50px;
      width: 50px;
      border: 0px solid #f5f6fa;
    
    }
    .user_img_msg{
      height: 40px;
      width: 40px;
      border:1.5px solid #f5f6fa;
    
    }
  .img_cont{
      position: relative;
      height: 50px;
      width: 50px;
      overflow: hidden;
  }
  .img_cont_msg{
      height: 40px;
      width: 40px;
      display : none;
  }
  .online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
  }
  .offline{
    background-color: #c23616 !important;
  }
  .user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
  .user_info span{
    font-size: 20px;
    color: white;
  }
  .user_info .font-name{
    text-overflow: ellipsis;
      max-width: 187px;
      display: inline-block;
      overflow: hidden;
  }
  .user_info .font-preview{
    text-overflow: ellipsis;
      max-width: 187px;
      overflow: hidden;
  }
  .user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
  }
  .video_cam{
    margin-left: 50px;
    margin-top: 5px;
  }
  .video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .chat_actions {
    position: absolute;
    right: 4px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .chat_actions span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .chat-bubble{
    flex-wrap: wrap;
    padding-bottom : 10px;
  }
  .msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 7px;
    background-color: #2f8df7;
    color : #fff;
    padding: 6px;
    position: relative;
    font-size: 14px;
    -border : 1px solid #0000001c;
    box-shadow: 0 1.5px 1.5px #00000052;
  }
  .msg_cotainer span, .msg_cotainer_send span{
        white-space: pre-wrap;
  }
  .msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 7px;
    background-color: #FFF;
    padding: 6px;
    position: relative;
    font-size: 14px;
    -border : 1px solid #0000001c;
    box-shadow: 0 1.5px 1.5px #00000052;
  }
  .msg_time{
      bottom: -22px;
      color: rgb(21 21 21 / 68%);
      font-size: 10px;
      margin-left: 5px;
      width: 100%;
      padding: 6px;
  }
  .msg_time_send{
    position: absolute;
    right:0;
    bottom: -22px;
    color: rgb(21 21 21 / 68%);
    font-size: 10px;
    min-width: 250px;
      text-align: right;
      margin-right : 5px;
  }
  .msg_user {
    font-size: 10px;
    flex: 0 0 100%; 
    font-weight: 600;
  }
  .msg_cotainer:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -7px;
      left: 4px;
      box-sizing: border-box;
      border: 4px solid black;
      border-color: transparent transparent #2f8df7 #2f8df7;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -1px 1px 1px 0 rgb(0 0 0 / 22%);
  }
  .msg_cotainer_send:after{
    content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -7px;
      right: 7px;
      box-sizing: border-box;
      border: 4px solid black;
      border-color: transparent transparent #FFF #FFFF;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      box-shadow: -1px 1px 1px 0 rgb(0 0 0 / 22%);
  }
  .chat-bubble .sending { 
    height: 15px;
    width: 15px;
    margin: 8px;
  }
  .msg_head{
    position: relative;
  }
  #action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  .action_menu{
z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgb(255 255 255);
    color: #060606;
    border-radius: 5px;
    top: 15px;
    right: 10px;
    border: solid 1px #d8d8d8;
  }
  .action_menu ul{
    list-style: none;
    padding: 0;
  margin: 0;
  }
  .action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  .action_menu ul li i{
    padding-right: 10px;
  
  }
  .action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
  }
  @media(max-width: 576px){
  .contacts_card{
    margin-bottom: 15px !important;
  }
  }
  
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.contact-time {
    width: 60px;
    color: #ffffff;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-left: auto;
    white-space : break-spaces;
    max-width:65px;
}
.contact-text {
    height: 40px;
}
.img_cont .contact_type{
  bottom: 0px;
  right: 0px;
  position: absolute;
}
.contact_type {
background-color: #fff;
border-radius: 50%;
height: 25px;
width: 25px;
text-align: center;
margin: auto;
display: block;
padding: 5px;
}
.contact_type.fa-facebook{
  background-color: #4267B2;
  color : #FFF;
}
.contact_type.fa-whatsapp{
  background-color: #25D366;
  color : #FFF;
}
.contact_type.fa-twitter{
  background-color: #1DA1F2;
  color : #FFF;
}
.contact_type.fa-chrome{
  background-color: #4c8bf5;
  color : #FFF;
}
.contact_type.fa-telegram{
  background-color: #FFF;
  color : #0088cc;
}
.card-footer .contact_type{
  float: left;
  margin-right: 5px;
}
.online-toggle {
    float: right;
    font-size: 25px!important;
    height: 19px;
    border-radius: 48%;
    padding-bottom: 0px;
    line-height: 21px!important;
    cursor: pointer;
}
.online-toggle.fa-toggle-on {
  color: #000;
}
.online-toggle.fa-toggle-on.toggle-active {
  color: #4cd137;
}

.information img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    float: left;
}

#mySidebar {
  color: #437db1!important;
  background-color: transparent!important
}
#mySidebar .mySidebar-container {
  background-color: rgb(242 243 248) !important;
  height : 100%;
}
#mySidebar .menu_btn_close {
  background-color: rgba(0, 0, 0, 0.03) !important;
  color: #437db1;
}
#mySidebar a{
  background-color: rgb(0 0 0 / 9%) !important;
}
#mySidebar a:hover{
  color : #FFF!important;
  background-color: rgb(0 0 0 / 50%) !important;
}

#mySidebar .sidebar-logo{
    /* min-height: calc(100% - 25px); */
    height: 91px;
    position: absolute;
    bottom: 0px;
    background-image: url(./../images/bigbrandlogo.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    /* filter: grayscale(100%); */
    /* opacity: 0.2; */
    width: 195px;
    background-color: #fff0;
    padding: 0px;
}

.card.card_contact_profile {
  color : #FFF!important;
}
.card.card_contact_profile .card-body {
  color : #000!important;
  background-color: #FFF!important;
  overflow: auto;
}
.new-message{
    border-radius: 50%;
    background-color: #62d138;
    height: 15px;
    width: 15px;
    text-align: center;
}
  
  
  .card-shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.card-shadow:before, .card-shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.card-shadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.customer-chat-logo.icon-my-agent {
    font-weight: bold;
}

ul.contacts li.data_unassigned {
  color : #000 !important;
  opacity: 0.4;
}

.msg_card_body{
  overflow-y: auto;
  background-color: #f2f3f8 !important;
  padding-bottom: 5px;
}
.msg_card_body-panel {
  width:100%
}
.msg_card_body-logo{
  min-height: calc(100% - 25px);
    height: 100%;
    position: relative;
    padding-top: calc(100vh - 250px);
    background-image: url(./../images/bigbrandlogo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(100%);
    opacity : 0.2;
}
.msg_card_body-bubbles {
  min-height: calc(100% - 65px);
  min-height: -webkit-calc(100% - 65px);
  min-height: -moz-calc(100% - 65px);
}
.msg_card_body-panel hr{
  border-top: 1px solid #e0dddd;
  margin: 10px 0;
}
.msg_card_body-panel .msg_card_body-panel-tags {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: table;
    text-align:center;
    min-height : 25px;
}
.msg_cotainer_smart{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 8px;
    background-color: #FFF;
    color: #7b7575;
    padding: 6px;
    position: relative;
    font-size: 14px;
    border: 1px solid #2f8df7;
    cursor : pointer;
    display: inline;
}
.media_card_body{
  overflow-y: auto;
  background-color: #f2f3f8 !important;
  padding-bottom: 5px;
}
.media_card_body-bubbles-wrapper{
  height : 100%;  
}

.media_card_body .media_thumb{
  width : 120px;
  height : 120px;
  float: left;
  position: relative;
}
.media_card_body .media_thumb img{
  width : 100px;
  height : 100px;
  cursor: pointer;
}
.media_thumb input{
    position:absolute;
    z-index:999;
}

.media_thumb input:active +.media_thumb_label {opacity: .9;}
.media_thumb input:checked +.media_thumb_label{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.media_thumb_label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(.4) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(.4) opacity(.7);
            filter: brightness(1.8) grayscale(.4) opacity(.7);
}
.media_thumb_label:hover{
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
            filter: brightness(1.2) grayscale(.2) opacity(.9);
}

.media_card_body-panel {
  width:100%;
  clear: both;
}
.media_card_body-panel hr{
  border-top: 1px solid #e0dddd;
  margin: 10px 0;
}
.media_card_body-panel .media_card_body-panel-actions {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: table;
    text-align:center;
    min-height : 25px;
}
.media_cotainer_smart{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 8px;
    background-color: #FFF;
    color: #7b7575;
    padding: 6px;
    position: relative;
    font-size: 14px;
    border: 1px solid #2f8df7;
    cursor : pointer;
    display: inline;
}

.hidden {
  display : none!important;
}
.my-attachments {
  justify-content: center;
}
.my-attachments img{
  margin: 10px;
  max-width : 200px;
}
.my-actions-button.btn.disabled, .my-actions-button.btn[disabled]{
  opacity: 1;
  color: #b9b4b4;
} 